.mat-toolbar {
    color: #ffffff;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    display: flex;
  }

  .seccion-botones{
    margin: 50px;
    padding-top: 70px;

  }

  .social-media{
    display: flex;
    justify-content: flex-end;
    padding-top: 70px;
    margin-right: 20px;
  }
  .logo-bar{
    padding-top: 70px;
    filter: invert(100%);
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
    justify-content: space-between; /* Distribuye los elementos en el espacio disponible */
  }

  .button-bar{
    padding: 0 1.15em;
    margin: 0 0.65em !important;
    min-width: 3em;
    line-height: 36.4px;
    font-size: medium;
  }

  .button-bar:hover{
    background-color: #52c2f2cf;
}

  