footer{
    background-color: #000000; 
    color: white; 
    text-align: center; 
    padding: 20px;
    margin-top: 30px;
  }

  .version{
    color:rgb(179, 189, 189);
    filter: opacity(50%)
  }
  