<!-- <div class="videos-youtube"> -->
    <h1>YouTube</h1>
    <div #demoYouTubePlayer class="demo-youtube-player">
<youtube-player class="scars"
  videoId="AqstyLpTsIM"
  suggestedQuality="highres"
    [height]="videoHeight"
    [width]="videoWidth"
    [startSeconds]="4"
    [endSeconds]="8">
    </youtube-player>
    <youtube-player class="destiny"
    videoId="viu1WWLzOuE"
    suggestedQuality="highres"
      [height]="videoHeight"
      [width]="videoWidth"
      [startSeconds]="4"
      [endSeconds]="8">
      </youtube-player>
    </div>
      <!-- <div #demoYouTubePlayer class="demo-youtube-player">
        <h1>Angular YouTube Player Demo</h1>
        <section>
          <youtube-player videoId="RSGQuH_gWNw" [width]="videoWidth" [height]="videoHeight"></youtube-player>
        </section>
     </div> -->
<!-- </div> -->
