.demo-youtube-player{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

  .bloque-plataformas{
    h3{
        margin-left: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        margin-right: 20px;
    }
    margin: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .youtube{
    margin: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h1{
      margin-left: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-right: 20px;
    }
  }

  .plataforma{
    display: flex;
  }
  
  .letra{
    display: flex;
    text-align: justify;
    justify-content: center;
  }

  .portada{
    display: flex;
    justify-content: center;
    img{
      max-width: 200px;
      margin: 10px;
    }
  }