.demo-youtube-player{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

  .titulo{
    h3{
        margin-left: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
    }
    margin: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  