  .row {
    display: flex;
    justify-content: center;
     margin-top: 50px;
    // align-items: center;
    
  }
  
  .flip-card {
    width: 100%; /* Utiliza el ancho completo del contenedor padre */
    // max-width: 300px; /* Establece un ancho máximo para las tarjetas */
    margin: 20px;
  }
  
  
  
  // .flip-card-back {
  //   background-color: black;
  //   color: white;
  //   //text-align: center;
  //   // padding: 10px;
  //   font-size: small;
  // }
  

  /* Estilos para la imagen dentro de la tarjeta */
.diego-front img {
  width: 100%;
}
 
  .diego-back{
    background-color: black;
    text-align: justify;
    font-size: xx-small;  
    opacity:0.7;  
    position: absolute;

  }

  .carlos-front img {
    width: 100%;
  }
  
  .carlos-back{
    background-color: black;
    text-align: justify;
    font-size: xx-small;  
    opacity:0.7;  
    position: absolute;
    
  }

  .dani-front img {
    width: 100%;
  }
    
  .dani-back{
    background-color: black;
    text-align: justify;
    font-size: xx-small;  
    opacity:0.7;  
    position: absolute;

  }

  .maria-front img {
    width: 100%;
  }
      
  .maria-back{
    background-color: black;
    text-align: justify;
    font-size: xx-small;  
    opacity:0.7;  
    position: absolute;

  }

  .raquel-front img {
    width: 100%;
  }
        
  .raquel-back{
    background-color: black;
    text-align: justify;
    font-size: xx-small;  
    opacity:0.7;  
    position: absolute;

  }

  .vanesa-front img {
    width: 100%;   
  }
          
  .vanesa-back{
    background-color: black;
    text-align: justify;
    font-size: xx-small;  
    opacity:0.7; 
    position: absolute;
 
  }