  .row {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  p {
    display: flex;
    justify-content: space-around;
    max-width: 30%;
    text-align: justify;

  }

  .nombres{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
  }

  h2 {
  display: flex;
  justify-content: space-around;
  cursor: pointer; /* Agrega un cursor indicando que es cliclable */
}

  .foto {
    max-width: 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .caja{
    display: flex;
  }


  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .loading-container img {
    width: 200px;
    height: 200px;
  }