<div class="col-lg-12 col-xs-12">
<div class="row">
  <!-- <div class="col-lg-12 col-xs-12"> -->
  <flip-card>
    <flip-card-front>
      <div class="diego-front">
        <img src="./assets/diego.jpg" alt="Diego"> 
      </div>
    </flip-card-front>
    <flip-card-back class="diego-back">
      <h2>Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego 
        Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego 
        Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego 
        Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego 
        Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego 
        Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego 
      </h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="carlos-front">
        <img src="./assets/carlos.jpg" alt="Carlos">
      </div>
    </flip-card-front>
    <flip-card-back class="carlos-back">
      <h2>Carlos</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="dani-front">
        <img src="./assets/dani.jpg" alt="Dani">
      </div>
    </flip-card-front>
    <flip-card-back class="dani-back">
      <h2>Dani</h2>
    </flip-card-back>
  </flip-card>
</div>
</div>

<div class="row">
  <!-- <div class="col-lg-12 xs-2"> -->
  <flip-card>
    <flip-card-front>
      <div class="maria-front">
        <img src="./assets/maria.jpg" alt="María">
      </div>
    </flip-card-front>
    <flip-card-back>
      <h2>María</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="raquel-front">
        <img src="./assets/raquel.jpg" alt="raquel">
      </div>
    </flip-card-front>
    <flip-card-back class="raquel-back">
      <h2>Raquel</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="vanesa-front">
        <img src="./assets/vanesa.jpg" alt="Vanesa">
      </div>
    </flip-card-front>
    <flip-card-back class="vanesa-back">
      <h2>Vanesa</h2>
    </flip-card-back>
  </flip-card>
</div>
<!-- </div> -->
<!-- </div> -->

<app-home></app-home>