<div class="row">

<flip-card >
    <flip-card-front style="margin: 40px;">
      <div class="diego-front">
      <img src="./assets/diego.jpg" alt=""> 
    </div>   
    </flip-card-front>
    <flip-card-back class="diego-back">
        <h2>Diego</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <h2>This is card front 2</h2>
    </flip-card-front>
    <flip-card-back>
      <h2>This is card back 2</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <h2>This is card front 3</h2>
    </flip-card-front>
    <flip-card-back>
      <h2>This is card back 3</h2>
    </flip-card-back>
  </flip-card>
</div>
<div class="row">
  <flip-card>
    <flip-card-front>
      <h2>This is card front 4</h2>
    </flip-card-front>
    <flip-card-back>
      <h2>This is card back 4</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <h2>This is card front 5</h2>
    </flip-card-front>
    <flip-card-back>
      <h2>This is card back 5</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <h2>This is card front 6</h2>
    </flip-card-front>
    <flip-card-back>
      <h2>This is card back 6</h2>
    </flip-card-back>
  </flip-card>
</div>

<app-home></app-home>
