<div *ngIf="loading" class="loading-container">
  <img src="./assets/rayo.gif" alt="Cargando...">
</div>
<ng-container *ngIf="!loading">
<div class="row">
  <flip-card>
    <flip-card-front>
      <div class="front diego-front">
        <img src="./assets/diego.jpg" alt="Diego"> 
      </div>
    </flip-card-front>
    <flip-card-back class="back diego-back">
      <h2>Diego
         / Yisus es el encargado de desatar el rugido de los tambores.
        Empezó hace 14 años golpeando cacerolas de manera autodidacta, hasta poder estrenar una batería de verdad con su primer grupo de rock and roll (Ladrillo), mientras pasaba el tiempo fue enlazando proyectos diferentes abarcando rock (Q11), Ska-Punk(Sistema Kadaver) o géneros sin identificar (The Trumpeters).
        Pasado el tiempo y tras una junta apocalíptica, emergió la idea de este proyecto y ya no había marcha atrás... ¡¡Preparad vuestros tímpanos!! "TUCUPÁ TUCUPÁ"
        Entre sus influencias destacan: Slipknot, System of a Down, Los de Marras, Eskimo Callboy, Skindred, Narco, Extremoduro, O'Funkillo, Iratxo, Koma, Korpiklaani... 
      </h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="carlos-front">
        <img src="./assets/carlos.jpg" alt="Carlos">
      </div>
    </flip-card-front>
    <flip-card-back class="carlos-back">
      <h2>Carlos</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="dani-front">
        <img src="./assets/dani.jpg" alt="Dani">
      </div>
    </flip-card-front>
    <flip-card-back class="dani-back">
      <h2>Dani</h2>
    </flip-card-back>
  </flip-card>
</div>

<div class="row">
  <flip-card>
    <flip-card-front>
      <div class="maria-front">
        <img src="./assets/maria.jpg" alt="María">
      </div>
    </flip-card-front>
    <flip-card-back>
      <h2>María</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="raquel-front">
        <img src="./assets/raquel.jpg" alt="raquel">
      </div>
    </flip-card-front>
    <flip-card-back class="raquel-back">
      <h2>Raquel</h2>
    </flip-card-back>
  </flip-card>
  <flip-card>
    <flip-card-front>
      <div class="vanesa-front">
        <img src="./assets/vanesa.jpg" alt="Vanesa">
      </div>
    </flip-card-front>
    <flip-card-back class="vanesa-back">
      <h2>Vanesa</h2>
    </flip-card-back>
  </flip-card>
</div>
</ng-container>
