.container {
    // max-width: 300px;
    // height: auto;
    perspective: 800px;
}
  
  .card {
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    max-width: auto;

  }
  
  .card .front,
  .card .back {  
    backface-visibility: hidden;
  border-radius: 6px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: medium;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: black;
    display: flex; // Añade esto para centrar el contenido
    // flex-direction: column; // Añade esto para colocar el contenido en una columna
    // justify-content: center; // Añade esto para centrar verticalmente
    // align-items: center; // Añade esto para centrar horizontalmente
    // text-align: center; // Añade esto para centrar el texto
  }
  
  .flipped {
    transform: rotateY(180deg);
    }
  
   