<div class="letras">
    <h1 style="margin-left: 10px;">Letras</h1>
    <div class="portada">
          <img src="./assets/scars.jpg" alt="portada single Scars" loading="lazy">
    </div>
      <div class="letra">
      <p style="margin-left: 10px; border-right: 1px solid #ffffff; padding-right: 10px;">
          In front of my eyes I only see suffering.
          <br><br>
          Every day I wake up with this mixed 
          <br>
          odd sense of joy and sorrow (SUFFER).
          <br><br>
          Years gone in this hell 
          <br>
          that I (YOU DON’T DESERVE TO ESCAPE).
          <br><br>
          The mind can play a strange game sometimes.
          <br>
          (FALL) I (CRY) I (YOU CAN’T RUN AWAY).
          <br><br>
          Although I believe it was fault of mine
          <br>
          I carry on visiting the well of my memories
          <br>
          living with the scars we’ve determined.
          <br><br>
          If every day I lived it hadn’t been darkness,
          <br>
          every received blow would be a caress, 
          <br>
          today this pit of misery would be deserted,
          <br>
          and I cannot deny that I am the reflection of my past
          <br>
          cause’ from time to time, it hurts again the well healed scars.
          <br><br>
          SCARS
          <br><br>
          I look in the mirror and wounds don’t hurt anymore (ANYMORE).
          <br>
          small tattoos of my being drawn in my (DRAWN IN MY DEEP SOUL)
          <br><br>
          The lake of fire turns blue when the flames doesn't burn.
          <br><br>
          RISE (you), LAUGH (you) BE FREE AND FLY.
          <br><br>
          I am aware it's not fault of mine, 
          <br>
          since every time I visit the well of my memories
          <br>
          living with the scars we’ve determined
          <br><br>
          If every day I lived it hadn’t been darkness,
          <br>
          every received blow would be a caress, 
          <br>
          today this pit of misery would be deserted,
          <br>
          and I cannot deny that I’m the reflection of my past
          <br>
          cause’ from time to time, it hurts again the well healed scars.
      </p>
      <p style="margin-left: 10px; padding-right: 10px;">
        Delante de mis ojos solo veo sufrimiento.
        <br><br>
        Todos los días me levanto con esa extraña sensación,
        <br> 
        mezcla de alegría y dolor (SUFRE).
        <br><br>
        Años pasados metido en este infierno
        <br>
        del que yo (TÚ NO MERECES SALIR).
        <br><br>
        La mente puede jugar malas pasadas.
        <br>
        (CAE) yo (LLORA) yo (NO PUEDES ESCAPAR)
        <br><br>
        Y aunque creo que fué culpa mía 
        <br>
        y siga visitando el pozo de mis recuerdos
        <br>
        veo que vivimos con las cicatrices que elegimos.
        <br><br>
        Si cada día vivido no hubiera sido oscuridad,
        <br>
        cada golpe recibido hubiera sido una caricia,
        <br>
        este pozo de miseria hoy estaría vacío,
        <br>
        y no puedo negar que soy el espejo de mi pasado
        <br>
        porque hasta las cicatrices bien curadas vuelven a doler de vez en cuando.
        <br><br>
        CICATRICES
        <br><br>
        Me miro al espejo y ya no duelen las heridas 
        <br>
        pequeños tatuajes de mi ser dibujados en lo más profundo de mi alma.
        <br><br>
        El infierno se tiñe de azul cuando las llamas dejan de arder.
        <br><br>
        (LEVÁNTATE) tú (RÍE) tú (SÉ LIBRE Y VUELA).
        <br><br>
        Y ya sé que no es culpa mía,
        <br>
        porque cada vez que visito el pozo de mis recuerdos
        <br>
        veo que vivimos con las cicatrices que elegimos.
        <br><br>
        Si cada día vivido no hubiera sido oscuridad,
        <br>
        cada golpe recibido, hubiera sido una caricia,
        <br>
        este pozo de miseria hoy estaría vacío,
        <br>
        y no puedo negar que soy el espejo de mi pasado
        <br>
        porque hasta las cicatrices bien curadas vuelven a doler de vez en cuando.      
    </p>
  </div>
  <div class="portada">
      <img src="./assets/destiny.jpg" alt="portada single destiny" loading="lazy">
  </div>
  <div class="letra">
    <p style="margin-left: 10px; border-right: 1px solid #ffffff; padding-right: 10px;">
      Surrounded by loneliness among a crowd,
      <br>
      everyday is a nightmare, I awake after sleeping. 
      <br>
      I don’t feel anything anymore, emptiness fills my soul,
      <br>
      my heart is tired of beating, you attack my mind I don't let you go.
      <br><br>
      I am the devil that lives inside you,
      <br>
      if you used to rest when you slept, I’m gonna give you nightmares.
      <br>
      All who walked your path will erase your traces as you pass.
      <br>
      I will make you fall into oblivion.
      <br><br>
      Storms don’t last forever,
      <br>
      (let me realize that I’m still alive).
      <br>
      I’m still alive, I own my destiny,
      <br>
      (Shut up, let me go in peace).
      <br>
      I’m not alone, they accompanied me in this road,
      <br>
      (Shut up fool, listen to my scream).
      <br>
      Now is when I believe ME.
      <br><br>
      I try to move forward against my consciousness,
      <br> 
      my fate’s cord haunts me at every step I take,
      <br>
      after so much struggle it was all in vain,
      <br>
      my faulty brain keeps on trying to kill me.
      <br><br>
      Destiny of darkness is reflected through my gaze.
    </p>
    <p style="margin-left: 10px; padding-right: 10px;">
      Rodeado de soledad entre tanta multitud, 
      <br>
      cada día es una pesadilla de la que me despierto cuando duermo.
      <br>
      He dejado de sentir, el vacío llena mi alma,
      <br>
      mi corazón se ha cansado de latir, atacas mi mente y no te dejo salir.
      <br><br>
      Soy el demonio que habita en tu interior,
      <br>
      si antes descansabas cuando dormías, ahora te voy a regalar pesadillas.
      <br>
      Todos los que andaron tu camino borrarán tus huellas al pasar. 
      <br>
      Te haré caer en el olvido.
      <br><br>
      Las tormentas no duran para siempre,
      <br>
      (déjame darme cuenta de que todavía sigo vivo).
      <br>
      Sigo vivo, soy dueño de mi destino,
      <br>
      (callate ya, déjame ir en paz).
      <br>
      No estoy solo/a, ellos me acompañan en este camino,
      <br>
      (cállate necio, escucha mi grito).
      <br>
      Ahora es cuando creo en MÍ.
      <br><br>
      Intento ir hacia delante en contra de mi consciencia,
      <br>
      la soga de mi destino me persigue a cada paso que doy,
      <br>
      después de tanta lucha, todo ha sido en vano,
      <br>
      mi cerebro defectuoso continúa intentando matarme.
      <br><br>
      El destino de la oscuridad se refleja a través de mi mirada.          
  </p>
  </div>
  </div>
<div class="botonera">
    <button (click)="volver()" class="boton110" matTooltip="Volver">
        Volver
</button>
</div>
