<!-- <div class="concierto1"> -->
    <div *ngIf="loading" class="loading-container">
        <img src="./assets/rayo.gif" alt="Cargando...">
      </div>
      <ng-container *ngIf="!loading">
    <div class="concierto1">
        <img class="cartel1" [src]="'./assets/cartel1.jpg'" alt="Cartel noche de Metal, Echoes from Silence y Evilact en concierto">
    </div>
      </ng-container>
    <div class="concierto1">
        <h2>Sábado 2 de diciembre - 22.00h</h2>
    </div>
    <!-- <div class="concierto1">
        <h3>Sala Zer-Bizio, Moratalla</h3>
    </div> -->
    <div class="concierto1">
        <a href="https://maps.app.goo.gl/2Vt8ACCBDVrJgqN57">Carr. Campo de San Juan, 22, 30440 Moratalla, Murcia</a>
    </div>
<!-- </div> -->