.cartel1{
    width: 40%;
}
.concierto1{
    display: flex;
    justify-content: center;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 20vh;  
  }
  
  .loading-container img {
    width: 200px;  
    height: 200px;
  }